*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

  background: #000;
  padding: 20px;

  background-image: url('./assets/images.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


h1{
  color: #38D0E0;
  margin-bottom: 30px;
  text-shadow: 0 2px 30px #38E047;
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 4px;
}

.search-box{
  margin-bottom: 25px;
}

.search-box input{
  padding: 10px;
  width: 210px;
  border-radius: 8px;
  border: 1px solid #38D0E0;
  background: #000000c7;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 8px #000;
  outline: none;
}

.cards-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.card{
  background: #000000db;
  border-radius: 16px;
  padding: 12px;
  width: 230px;
  text-align: center;
  color: #fff;
  transition: all 200ms ease-in-out;
  border: 2px solid #38D0E0;
}

.card:hover{
  border-color: #38D0E0;
  transform: scale(1.05);
  color: #38D0E0;
} 

.card img{
  width: 200px;
  height: 360px;
  object-fit: cover; /* recorta mantendo proporção */
  border-radius: 16px;
  transition: all 200ms ease-in-out;
  border: 3px solid #38D0E0;
  margin: 0 auto;
  display: block;
}

.card:hover img{
  border-radius: 12px;
  border-color: #38D0E0;
}

.card h2{
  margin: 10px 0 5px;
  font-size: 22px;
  color: #fff;
  font-weight: bolder;
  letter-spacing: 3px;
  text-shadow: 0 2px 8px #38D0E0;
}

.card p{
  font-size: 14px;
  color: #ffffffa9;
}

.card:hover p{
  color: #fff;
}

.card strong{
  color: #38E047;
  font-weight: bold;
}